<template>
  <div class="wrapper">
    <div class="row main-container">
      <div v-if="!formIsSend" class="col-sm-6 col-sm-offset-3">
        <h3>Отправка работы</h3>
        <br />

        <div>
          <p class="form-label">Имя участника</p>
          <input v-model="name" type="text" class="form-control block" />
        </div>
        <br />

        <div :class="$v.email.$error ? 
                  'has-error' : ''">
          <p class="form-label">Электропочта*</p>
          <input v-model="email" type="text" class="form-control block" />
        </div>
        <br />

        <div :class="$v.mobile.$error ? 
                  'has-error' : ''">
          <p class="form-label">Телефон*</p>
          <input
            v-model="mobile"
            type="text"
            class="form-control block"
            @input="$v.mobile.$touch()"
          />
        </div>

        <br />

        <p class="form-label">Работа в png</p>
        <input type="file" class="form-control block" @change="setImage($event, 'imgFirst')" />
        <br />

        <p class="form-label">Работа в png</p>
        <input type="file" class="form-control block" @change="setImage($event, 'imgSecond')" />
        <br />

        <p
          v-if="$v.img.imgFirst.$error"
          class="form-label text-danger"
        >Прикрепите хотя бы одну работу</p>
        <button type="button" class="btn btn-dark btn-lg" @click="sendForm">Отправить</button>
      </div>
      <div v-else class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h3>Отправка работы</h3>
          <br />
          <p class="alert alert-success">Работа отправлена, спасибо</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required,
  email,
  minLength,
  requiredIf,
  numeric
} from "vuelidate/lib/validators";
import resumeApi from "../api/resume";

export default {
  name: "FillResume",
  data() {
    return {
      name: "",
      mobile: "",
      email: "",
      img: {
        imgFirst: null,
        imgSecond: null
      },
      formIsSend: false
    };
  },
  validations: {
    mobile: {
      required,
      numeric,
      minLength: minLength(8)
    },
    email: {
      required,
      email
    },
    img: {
      imgFirst: {
        required: requiredIf(function() {
          return !this.imgFirst && !this.imgSecond;
        })
      }
    }
  },
  methods: {
    setImage(e, varible) {
      const files = e.target.files;
      if (files && files[0]) {
        this.img[varible] = files[0];
      }
    },
    sendForm() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      let data = new FormData();
      data.append(
        "img_first",
        this.img.imgFirst,
        this.img.imgFirst ? this.img.imgFirst.name : ""
      );
      data.append(
        "img_second",
        this.img.imgSecond,
        this.img.imgSecond ? this.img.imgSecond.name : ""
      );
      data.append("name", this.name);
      data.append("mobile", this.mobile);
      data.append("email", this.email);
      resumeApi.saveNewResume(data).then(res => {
        if (res.status) {
          this.formIsSend = true;
        }
      });
    }
  }
};
</script>

<style scoped>
.wrapper {
  display: flex;
  justify-content: center;
}
.main-container {
  flex-basis: 840px;
}
</style>