<template>
  <div class="container">
    <h3>Работы на проверку</h3>
    <br />
    <br />
    <table class="table">
      <tbody>
        <template v-for="(resume, index) in resumesForCheck">
          <tr v-bind:key="index">
            <td>
              <a href="#">{{resume.name}}</a>
            </td>
            <td>{{resume.email}}</td>
            <td>
              <a @click="goToReview(resume.id)" class="btn btn-success btn-xs">Проверить</a>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <br />
    <br />
    <h3>Проверенные работы</h3>
    <table class="table">
      <tbody>
        <tr>
          <th>Имя</th>
          <th>Почта</th>
          <th colspan="3">Оценки</th>
        </tr>

        <template v-for="(resume, index) in resumesChecked">
          <tr v-bind:key="index">
            <td>
              <a href="#">{{ resume.name }}</a>
            </td>
            <td>{{ resume.email }}</td>
            <td>{{ resume.appraisal.first }}</td>
            <td>{{ resume.appraisal.second }}</td>
            <td>{{ resume.appraisal.third }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import needSignUp from "../services/auth";
import apiResume from "../api/resume";

export default {
  name: "ListResumes",
  data() {
    return {
      listResumes: [],
    };
  },
  created() {
    if (needSignUp()) {
      this.$router.push("/login");
    }
  },
  mounted() {
    apiResume.getAllResumes().then(res => {
      if (res.status === 200) {
        this.listResumes = res.data.resumes;
      }
    });
  },
  computed: {
    resumesForCheck: function() {
      return this.listResumes.filter(x => !x.is_review);
    },
    resumesChecked: function() {
      return this.listResumes.filter(x => x.is_review);
    }
  }, methods: {
    goToReview: function(id) {
      this.$router.push(`admin/review/${id}`);
    }
  }
};
</script>