<template>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Авторизация</h3>
      <br />
      <p v-if="isValidUser && loginIsCheck" class="alert alert-success">Пароль верный</p>
      <p v-if="!isValidUser && loginIsCheck" class="alert alert-warning">Пароль неверный</p>
      <p class="form-label">Email</p>
      <input id="login_email" v-model="user.email" type="text" class="form-control block" />
      <br />
      <p class="form-label">Пароль</p>
      <input id="login_password" v-model="user.password" type="password" class="form-control block" />
      <br />
      <button type="button" class="btn btn-dark btn-lg" @click="login">Войти</button>
    </div>
  </div>
</template>

<script>
import loginApi from "../api/login";
import needSignUp from "../services/auth";

export default {
  name: "LoginAdmin",
  data() {
    return {
      user: {
        email: "",
        password: ""
      },
      isValidUser: false,
      loginIsCheck: false
    };
  },
  created() {
    if (!needSignUp()) {
      this.$router.push("/admin");
    }
  },
  methods: {
    login: function() {
      loginApi
        .signIn({ email: this.user.email, password: this.user.password })
        .then(
          res => {
            console.log(res);
            if (res.status === 200) {
              this.isValidUser = true;
              this.loginIsCheck = true;
              let token = res.data.token;
              localStorage.setItem("auth_token", token);
              this.$router.push("/admin");
            }
          },
          error => {
            this.isValidUser = false;
            this.loginIsCheck = true;
          }
        );
    }
  }
};
</script>