<template>
  <div class="row">
    <div v-if="Object.keys(resumeOnReview).length > 0" class="col-sm-8 col-sm-offset-2">
      <h3>Проверка работы</h3>
      <p v-if="changesIsSave" class="alert alert-success">Изменения сохранены</p>
      <img
        :src="resumeOnReview.image_first ? resumeOnReview.image_first : resumeOnReview.image_second"
        width="800"
        height="400"
        alt
      />
      <p class="form-label">Имя участника</p>
      <input v-model="resumeOnReview.name" type="text" class="form-control block" />
      <br />
      <p class="form-label">Электропочта</p>
      <input v-model="resumeOnReview.email" type="text" class="form-control block" />
      <br />
      <form action="#">
        <div class="row">
          <div class="col-xs-4">
            <p>Первая оценка</p>
            <input
              v-model="resumeOnReview.appraisal.first"
              @input="changes.first = $event.target.value"
              type="text"
              class="form-control block"
            />
          </div>
          <div class="col-xs-4">
            <p>Вторая оценка оценка</p>
            <input
              v-model="resumeOnReview.appraisal.second"
              @input="changes.second = $event.target.value"
              type="text"
              class="form-control block"
            />
          </div>
          <div class="col-xs-4">
            <p>Третья оценка</p>
            <input
              v-model="resumeOnReview.appraisal.third"
              @input="changes.third = $event.target.value"
              type="text"
              class="form-control block"
            />
          </div>
        </div>
        <br />
        <input type="button" @click="saveAppraisal" value="Оценить" class="btn btn-success" />
      </form>

      <br />
    </div>
  </div>
</template>

<script>
import apiResume from "../api/resume";
import apiAppraisal from "../api/appraisal";

export default {
  name: "ResumeReview",
  data() {
    return {
      resumeOnReview: {},
      changes: {},
      changesIsSave: false
    };
  },
  mounted() {
    apiResume.getResumeBuId(this.$route.params.id).then(res => {
      if (res.status === 200) {
        this.resumeOnReview = res.data;
      }
    });
  },
  methods: {
    saveAppraisal: function() {
      if (Object.keys(this.changes).length > 0) {
        let data = { ...{ resume_id: this.$route.params.id }, ...this.changes };
        apiAppraisal.updateAppraisal(data).then(res => {
          if (res.status === 200) {
            this.changesIsSave = true;
          }
        });
      }
    }
  }
};
</script>